<h1>Your Cart</h1>

<table>
  <tr>
    <th>Product</th>
    <th>Description</th>
    <th>Price Per Unit</th>
    <th>Qty</th>
    <th>Subtotal</th>
    <th></th>
    <th></th>
  </tr>
  <% product_counts = Hash.new(0) %>
  <% current_cart.cart_items.each do |item|%>
    <% product_counts[item.product_id] += 1 %>
  <% end %>
  
  <% product_counts.each do |product_id, qty|%>
    <% product = Product.find(product_id) %>
    <tr>
      <td><%= product.name  %></td>
      <td><%= product.description %></td>
      <td><%= number_to_currency(product.price) %></td>
      <td><%= qty %></td>
      <td><%= number_to_currency(@cart.product_subtotal(product, qty)) %></td>
      <td><button>Update Qty</button></td>
      <td><button>Remove Product</button></td>
    </tr>
  <% end %>
</table>
<h2>Total Price</h2>
<p>
  <%= number_to_currency(@cart.cart_total_value(current_cart.cart_items))%>
</p>
<button>Checkout</button>
<button>Clear Cart</button>