<h1>Your Cart</h1>

<table>
  <tr>
    <th>Product</th>
    <th>Description</th>
    <th>Price Per Unit</th>
    <th>Qty</th>
    <th>Subtotal</th>
    <th></th>
  </tr>
  <% product_counts = Hash.new(0) %>
  <% current_cart.cart_items.each do |item|%>
    <% product_counts[item.product_id] += 1 %>
  <% end %>
  
  <% product_counts.each do |product_id, qty|%>
    <% product = Product.find(product_id) %>
    <tr>
      <td><%= product.name  %></td>
      <td><%= product.description %></td>
      <td><%= number_to_currency(product.price) %></td>
      <td><%= qty %></td>
      <td><%= number_to_currency(@cart.product_subtotal(product, qty)) %></td>
      <td><button>Update Qty</button></td>
    </tr>
  <% end %>
</table>
<button><%= link_to "Checkout", new_order_url %></button>
<%= link_to "View Products", products_url %>