<% if action == :edit %>
  <% action_url = admin_product_url(product) %>
<% else %>
  <% action_url = admin_products_url %>
<% end %>

<form action="<%= action_url %>" method="post">
  <% if action == :edit %>
    <input type="hidden" name="_method" value="PATCH">
  <% end %>
  
  <input type="hidden" 
        value="<%= form_authenticity_token() %>" 
        name="authenticity_token"/>
  <label for="product-name">Product Name</label>
  <input id="product-name" type="text" name="product[name]" value="<%= product.name %>"><br>
  <label for="product-description">Description</label>
  <textarea name="product[description]" id="product-description"><%= product.description %></textarea><br>
  <label for="product-price">Price $</label>
  <input id="product-price" type="text" name="product[price]" value="<%= number_with_precision(product.price, precision: 2) %>"><br>
  <input 
    type="submit" 
    value="<%= (action == :edit) ? 'Save Changes' : 'Add Product' %>"
  >
</form>
<%= link_to "View/Edit Products & Add Inventory", admin_products_url %>

