<h1><%= @product.name %></h1>
<h2>Product Description:</h2>
<p><%= @product.description %></p>
<h2>Price:</h2>
<p><%= number_to_currency(@product.price) %></p>

<%= render 'add_inventory', product: @product %>
<%= link_to "Edit Product", edit_admin_product_path(@product) %><br>
<%= link_to "View/Edit Products & Add Inventory", admin_products_url %><br>
<%= link_to "View All Inventory", admin_inventory_items_url %>