<h1>Products for Sale</h1>

<table>
  <tr>
    <th>Product</th>
    <th>Description</th>
    <th>Price</th>
    <th>Total Available</th>
    <th>Qty</th>
    <th></th>
  </tr>
  <% @products.each do |product|%>
    <% total_available = product.inventory_items.where(purchased: false, in_cart: false).size %>
    <form action="<%= cart_items_url %>" method="post">
        <input type="hidden" 
        value="<%= form_authenticity_token() %>" 
        name="authenticity_token"/>
        <input type="hidden" 
        value="<%= product.id %>" 
        name="cart_item[product_id]"/>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.description %></td>
          <td><%= number_to_currency(product.price) %></td>
          <td>
            <% if total_available > 0 %>
              <%= total_available %>
            <% else %>
              Out of stock
            <% end %>
          </td>
          <td>
            <% if total_available > 0 %>
              <input 
                type="number"
                name="cart_item[qty]" 
                id="product-qty" 
                value="1" 
                min="1"
                max=<%= total_available %>>
            <% end %> 
          </td>
          <td>
            <% if total_available > 0 %>
              <input type="submit" value="Add to Cart">
            <% end %>
          </td>
        </tr>
    </form>
  <% end %>
</table>
<%= link_to "View Cart", cart_url %>