<h1>Products for Sale</h1>

<table>
  <tr>
    <th>Product</th>
    <th>Description</th>
    <th>Price</th>
    <th>Total In Stock</th>
    <th></th>
    <th></th>
  </tr>
  <% @products.each do |product|%>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.description %></td>
      <td><%= number_to_currency(product.price) %></td>
      <td><%= product.inventory_items.where(purchased: false).size %></td>
      <td><%= link_to "Edit Product", edit_product_path(product) %></td>
      <td><%= render 'add_inventory', product: product %></td>
    </tr>
  <% end %>
</table>
<%= link_to "Add New Product", new_product_path %><br>
<%= link_to "View All Inventory", inventory_items_url %>